<%= form_with(model: invite) do |form| %>
  <% if invite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :invite_user_id, style: "display: block" %>
    <%= form.text_field :invite_user_id %>
  </div>
  <div>
    <%= form.hidden_field :invite_group_id, :value => @group.id %>
  </div>
    <%= hidden_field_tag :group_id, @group.id %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
