<p style="color: green"><%= notice %></p>

<h1>Title:<%= @p_page.title %></h1>
<h4>作成者: <%= @p_page.writer.name %></h4>
<div><%= render 'shared/message_list'%></div>
<div><%= render 'shared/message_form',page:@p_page,type:1%></div>
<% if current_user.id == @p_page.writer.id %>
    <%= link_to @p_page.book.name+" に戻る", group_book_path(@group,@book)%>
    <br>
    <%= link_to "この要点を編集する", edit_group_book_p_page_path%>
    <br>
    <%= link_to "この要点を消す", group_book_p_page_path, data: { turbo_method: :delete }%>
<% else %>
    <%= link_to @p_page.book.name+" に戻る", group_book_path(@group,@book)%>
<% end %>
