<p style="color: green"><%= notice %></p>

<%= render @p_page %>

<div>
  <%= link_to "Edit this p page", edit_p_page_path(@p_page) %> |
  <%= link_to "Back to p pages", p_pages_path %>

  <%= button_to "Destroy this p page", @p_page, method: :delete %>
</div>
