<p style="color: green"><%= notice %></p>

<%= render @q_page %>

<div>
  <%= link_to "Edit this q page", edit_q_page_path(@q_page) %> |
  <%= link_to "Back to q pages", q_pages_path %>

  <%= button_to "Destroy this q page", @q_page, method: :delete %>
</div>
