<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <div id="<%= dom_id group %>">
      <strong>Name:</strong>
      <%= group.name %>
    </div>
    <%= link_to "Show this group", group %>
  <% end %>
</div>

<br>
<%= link_to "New group", new_group_path %>
<br>
<%= link_to "Back to home", home_path(id: params[:group_id]) %>