<p style="color: green"><%= notice %></p>

<%= render @group %>

<strong>メンバー</strong>
<ul>
  <% @members.each do |user| %>
    <% if !@group.admin_users.find_by(id: user.id).nil? %>
      <li><%= user.name+"(管理者)" %></li>
    <% else %>
      <li><%= user.name %></li>
    <% end %>
    <br>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %> |
  <%= link_to "Select this group", home_path(id: @group.id) %>
  <%= button_to "Destroy this group", @group, method: :delete %>
</div>

