<p style="color: green"><%= notice %></p>

<%= render @group %>

<strong>メンバー</strong>
<ul>
  <% @members.each do |user| %>
    
    <% if !@group.admin_users.find_by(id: user.id).nil? %>
      <%= user.name+"(管理者)" %>
    <% else %>
      <%= user.name %>
    <% end %>
    <br>
  <% end %>
</ul>

<% if @invite.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this group from being saved:</h2>

    <ul>
      <% @invite.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if !@group.admin_users.find_by(id: current_user.id).nil? %>
    <%= render 'invites/form' , invite: @invite %>      
<% end %>


<div>
  <% if !@group.admin_users.find_by(id: current_user.id).nil? %><%= link_to "Edit this group", edit_group_path(@group) %> |<% end %>
  <%= link_to "Back to groups", groups_path %> |
  <%= link_to "Select this group", home_path(id: @group.id) %>
  <% if !@group.admin_users.find_by(id: current_user.id).nil? %><%= button_to "Destroy this group", @group, method: :delete %><% end %>
</div>

