<div class="breadcrumb">
    <nav style="--bs-breadcrumb-divider: '>';" nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><%= @group.name %></a></li>
        <li class="breadcrumb-item"><a href="#"><%= @book.name %></a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
    </nav>
</div>
<div><span class="fs-2">質問|</span><%= link_to "質問を追加する", new_q_page_path(group_id:@group.id,book_id:@book.id)%></div>
<% @QPages.each do |q_page| %>
    <% if q_page.check%>
        【解決】
    <% else%>
        【未解決】
    <% end%>
    作成日 <%= q_page.created_at.to_s(:datetime_jp)%>
    <%= link_to "この質問を見る", home_path(id:@group.id,book_id:@book.id,quest_id: q_page.id)%>
    <table border="1" width="90%">
        <tr>
            <td><%=q_page.title%></td>
            <td><%= @members.find_by(id: q_page.writer_id).name %></td>
            <%= link_to "この質問を見る", home_path(id:@group.id,book_id:@book.id,quest_id: q_page.id)%>
        </tr>
    </table>
<% end %>
<div><span class="fs-2">要点|</span><%= link_to "要点を投稿する", new_p_page_path(group_id:@group.id,book_id:@book.id)%></div>
<% @PPages.each do |p_page| %>
    作成者:<%= @members.find_by(id: p_page.writer_id).name %>
    <div class="card" style="width: 20rem">
        <img class="card-img-top" src="https://github.com/mdo.png" alt="">
        <div class="card-body">
                <h5 class="card-title"><%=p_page.title%></h5>
            <p class="card-text">作成日時: <%= p_page.created_at.to_s(:datetime_jp)%></p>
            <%= link_to "この要点を見る", home_path(id:@group.id,book_id:@book.id,point_id: p_page.id)%>
        </div>
    </div>
<% end %>