<div class="vh-100 d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <% if !@group.nil? %>
            <span class="fs-4"><%= link_to "グループ", groups_path(group_id: @group.id) ,class:"fs-4 text-dark" %></span>
            <p><%= @group.name %></p>
        <% else %>
            <span class="fs-4"><%= link_to "グループ", groups_path ,class:"fs-4 text-dark" %></span>
            <p>プライベートグループ</p>
        <% end %>
        
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <% if !@group.nil? %><span class="fs-4"><%= link_to "Book", new_book_path(group_id: @group.id) ,class:"fs-4 text-dark" %></span><% end %>
        <% if !@group.nil? %>
            <ul>
            <% @books.each do |book| %>
                <li>
                <%= link_to book.name, edit_book_path(id:book.id,group_id: @group.id) ,class:"fs-6 text-dark"%>
                </li>
            <% end %>
            </ul>
        <% end %>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong><%= current_user.name %></strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">プロフィール表示</a></li>
            <li><a class="dropdown-item" href="#">ユーザー設定</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "ログアウト", logout_path,data: { turbo_method: :delete },class:"dropdown-item" %></li>
        </ul>
    </div>
</div>