<p style="color: green"><%= notice %></p>
<h2><%= @group.name %>/<%= @book.name %></h2>
<div><span class="fs-2">質問|</span><%= link_to "質問を追加する", new_group_book_q_page_path(@group,@book)%></div>
<% members = @group.users%>
<% @QPages.each do |q_page| %>
    <% if q_page.check%>
        【解決】
    <% else%>
        【未解決】
    <% end%>
    作成日 <%= q_page.created_at.to_s(:datetime_jp)%>
    <%= link_to "この質問を見る", group_book_q_page_path(@group,@book,q_page)%>
    <table border="1" width="90%">
        <tr>
            <td><%=q_page.title%></td>
            <td><%= members.find_by(id: q_page.writer_id).name %></td>
        </tr>
    </table>
<% end %>
<div><span class="fs-2">要点|</span><%= link_to "要点を投稿する", new_group_book_p_page_path(@group,@book)%></div>

<% @PPages.each do |p_page| %>
    作成者:<%= members.find_by(id: p_page.writer_id).name %>
    <div class="card" style="width: 20rem">
        <img class="card-img-top" src="https://github.com/mdo.png" alt="">
        <div class="card-body">
            <h5 class="card-title"><%=p_page.title%></h5>
            <p class="card-text">作成日時: <%= p_page.created_at.to_s(:datetime_jp)%></p>
            <%= link_to "この要点を見る", group_book_p_page_path(@group,@book,p_page)%>
        </div>
    </div>
<% end %>


<% if !@group.admin_users.find_by(id: current_user.id).nil? %>
    <div>
    <%= link_to "Edit this book", edit_group_book_path(@group,@book) %>
    <%= button_to "Destroy this book", group_book_path(@group,@book), method: :delete %>
    </div>
<% end %>